.achievementsContainer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.achievement {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    background-color: gray;
    border-radius: 30px;
}