.itemsList {
    margin-top: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.buildingList {
    margin-top: 10px;

    display: flex;
    gap: 20px;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

b {
    text-align: left;
}