.achievementsContainer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    font-size: 22px;
}

.achievement {
    aspect-ratio: 1;
    border-radius: 30px;
}

.blur {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    filter: blur(10px);
}

.commandName {
    opacity: 0.6;
}