.commandsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
}

.command {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color:  #447bba;;

    color: #fff;
    font-size: 22px;
    border-radius: 30px;
}

.raiting {
    color: red
}