.command {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;


    font-size: 22px;
    border-radius: 30px;
}

.infoContainer {
    margin-left: 20px;
}

.raiting {
    margin-left: auto;
    color: red
}


