#QrModal {
    .vkuiInternalModalCardBase {
        width: auto;
    
        background-color: #fff;
    }
    
    .vkuiModalCardBase__container {
        background-color: #fff !important;
    }
}
