.documentsContainer {
    padding: 20px;
}

.header {
    color: #fff;
    background-color: rgb(0, 119, 255) !important;

    div {
        background-color: inherit !important;
        
        border: none !important;
    }

    border: none !important;

    &:after {
        display: none;
    }
}

.document {
    padding: 10px 15px;

    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(0, 119, 255);
}

.checkAllButton {
    position: absolute;
    right: 30px;
    bottom: 30px;

    background-color: rgb(0, 119, 255);
    color: #fff
}