.command {
    display: flex;
    padding: 20px;
    background-color:  #447bba;;

    color: #fff;
    font-size: 22px;
    border-radius: 30px;
}

.raiting {
    color: red
}

.changeRaitingButton {
    margin-left: auto;
    margin-right: 20px;
}